<div class="banks">
  <div class="banks-form" id="banks">

    <div class="banks-new col-3">
      <h2>Formulario banco</h2>
      <p>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" class="form-control" [(ngModel)]="bank.nombre">
      </p>
      <p>
        <label for="direccion">Dirección</label>
        <input id="direccion" type="text" class="form-control" [(ngModel)]="bank.direccion">
      </p>
      <p>
        <label for="estado">Estado</label>
        <select class="form-select" aria-label="Eliga un estado" [(ngModel)]="bank.estado">
          <option [ngValue]="true">Activo</option>
          <option [ngValue]="false">Inactivo</option>
        </select>
      </p>
      <p>
        <button *ngIf="bankState=='create'" type="button" class="btn btn-success"
          (click)="this.verifyInsertBanco()">Insertar</button>
        <button *ngIf="bankState=='modify'" type="button" class="btn btn-success"
          (click)="this.verifyUpdateBanco()">Modificar</button>
        <button type="button" class="btn btn-primary ma-le" (click)="this.limpiarBanco()">Limpiar</button>
      </p>

    </div>
    <div class="banks-list col-4">
      <h2 class="ma-le">Lista de bancos</h2>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>No. Clientes</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banco of banks">
            <td>
              <div *ngIf="banco.estado == true" class="bank-active-state"></div>
              <div *ngIf="banco.estado == false" class="bank-inactive-state"></div>
            </td>
            <td>{{ banco.nombre }}</td>
            <td>{{ banco.direccion}}</td>
            <td>👤{{ banco.clientes}}</td>
            <td><button class="btn btn-warning ml-auto" (click)="seleccionarBanco(banco)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="to-clientes">
      <a class="btn btn-info mr-5" href="#clients">Clientes</a>
    </div>
  </div>

  <!----------------------------------- DIVISION ---------------------------------------------->

  <div class="banks-form" id="clients">

    <div class="to-clientes">
      <a class="btn btn-info ml-5" href="#banks">Bancos</a>
    </div>

    <div class="banks-new col-3">
      <h2>Formulario clientes</h2>
      <p>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" class="form-control" [(ngModel)]="client.nombre">
      </p>
      <p>
        <label for="apellidos">Apellidos</label>
        <input id="apellidos" type="text" class="form-control" [(ngModel)]="client.apellidos">
      </p>
      <p>
        <label for="correo">Correo</label>
        <input id="correo" type="text" class="form-control" [(ngModel)]="client.correo">
      </p>
      <p>
        <label for="telefono">Telefono</label>
        <input id="telefono" type="text" class="form-control" maxlength="10" minlength="10" [(ngModel)]="client.telefono">
      </p>
      <p *ngIf="clientState=='create'">
        <label for="estado">Banco</label>
        <select class="form-select" aria-label="Eliga un estado" [(ngModel)]="client.banco">
          <option *ngFor="let banco of banks" [ngValue]="banco.id">{{banco.nombre}}</option>
        </select>
      </p>
      <p>
        <button *ngIf="clientState=='create'" type="button" class="btn btn-success"
          (click)="verifyInsertClient()">Insertar</button>
        <button *ngIf="clientState=='modify'" type="button" class="btn btn-success"
          (click)="this.verifyUpdateClient()">Modificar</button>
        <button type="button" class="btn btn-primary ma-le" (click)="this.limpiarCliente()">Limpiar</button>
        <button class="btn btn-danger ma-le" (click)="this.borrarCliente()">Eliminar</button>
      </p>

    </div>

    <div class="banks-list col-4 w-50">
      <h2 class="ma-le">Lista de clientes</h2>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Banco</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.nombre }}</td>
            <td>{{ client.apellidos }}</td>
            <td>{{ client.correo }}</td>
            <td>{{ client.telefono }}</td>
            <td>{{ bancoPorId(client.banco) }}</td>
            <td><button class="btn btn-warning ml-auto" (click)="seleccionarCliente(client)">Seleccionar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>